<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.shoppingmall.mapper.ProductMapper">

    <!-- 제품 저장 -->
    <insert id="insertProduct"
            parameterType="com.company.shoppingmall.dto.ProductDto">
        <selectKey keyProperty="productId" resultType="long" order="BEFORE">
            SELECT NVL(MAX(PRODUCT_ID), 0) + 1 AS productId
              FROM PRODUCTS
        </selectKey>
        INSERT INTO PRODUCTS (
            PRODUCT_ID,
            PRODUCT_NAME,
            LIST_PRICE,
            CATEGORY_ID,
            DESCRIPTION
        ) VALUES (
            #{productId},
            #{productName},
            #{price},
            #{categoryId},
            #{description}
        )
    </insert>

    <!-- 모든 창고에 재고 0 삽입 -->
    <insert id="insertInventoriesForAllWarehouses"
            parameterType="Long">
        INSERT INTO INVENTORIES (
            PRODUCT_ID,
            WAREHOUSE_ID,
            QUANTITY
        )
        SELECT
            #{productId},
            W.WAREHOUSE_ID,
            0
          FROM WAREHOUSES W
    </insert>

    <!-- 제품 목록 조회 -->
    <select id="selectProductList"
            resultType="com.company.shoppingmall.dto.ProductDto">
        SELECT
            P.PRODUCT_ID                AS productId,
            P.PRODUCT_NAME              AS productName,
            P.CATEGORY_ID               AS categoryId,
            NVL(MIN(I.QUANTITY), 0)     AS minQuantity,
            NVL(MAX(I.QUANTITY), 0)     AS maxQuantity
          FROM PRODUCTS    P,
               INVENTORIES I
         WHERE P.PRODUCT_ID = I.PRODUCT_ID(+)
         GROUP BY
            P.PRODUCT_ID,
            P.PRODUCT_NAME,
            P.CATEGORY_ID
         ORDER BY
            P.PRODUCT_ID
    </select>

    <!-- 제품 상세 조회 -->
    <select id="ProductDetail"
            parameterType="Long"
            resultType="com.company.shoppingmall.dto.ProductDto">
        SELECT
            PRODUCT_ID AS productId,
            PRODUCT_NAME AS productName,
            LIST_PRICE AS price,
            CATEGORY_ID AS categoryId,
            DESCRIPTION AS description
          FROM PRODUCTS
        WHERE PRODUCT_ID = #{productId}
    </select>

    <!-- 제품 수정 -->
    <update id = "updateProduct"
        parameterType="com.company.shoppingmall.dto.ProductDto">
        UPDATE PRODUCTS
        SET
            PRODUCT_NAME = #{productName},
            LIST_PRICE = #{price},
            CATEGORY_ID = #{categoryId},
            DESCRIPTION = #{description}
        WHERE PRODUCT_ID = #{productId}
    </update>

    <!-- 제품 재고 수량 수정 -->
    <update id="updateProductQuantity"
        parameterType="com.company.shoppingmall.dto.ProductDto"
        statementType="CALLABLE">
        { CALL SP_BICITEM_INS(
            #{productId, jdbcType=NUMERIC},
            #{quantity, jdbcType=NUMERIC}
        ) }

    </update>

    <!-- 제품 주문 존재 여부 확인 -->
    <select id="countOrderItemsByProductId"
            parameterType="Long"
            resultType="int">
        SELECT COUNT(*)
          FROM ORDER_ITEMS
        WHERE PRODUCT_ID = #{productId}
    </select>

    <!-- 제품 주문 항목 삭제 -->
    <delete id="deleteOrderItemsByProductId"
        parameterType="Long">
        DELETE FROM ORDER_ITEMS
        WHERE PRODUCT_ID = #{productId}
    </delete>

    <!-- 제품 삭제 -->
    <delete id="deleteProduct"
        parameterType="Long">
        DELETE FROM PRODUCTS
        WHERE PRODUCT_ID = #{productId}
    </delete>
    

</mapper>
